version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "phpunit/phpunit"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"

  # dev containers
  - package-ecosystem: "docker"
    directory: "/.devcontainer/php-container/workspace/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: ["version-update:semver-minor"]

  - package-ecosystem: "docker"
    directory: "/.devcontainer/python-container/workspace/"
    schedule:
      interval: "monthly"
