version: '3'
services:
  vigilant:
    image: ghcr.io/verifiedjoseph/vigilant:1.2.0
    environment:
      - TZ=Europe/London
      - VIGILANT_NOTIFICATION_SERVICE=ntfy
      - VIGILANT_NOTIFICATION_NTFY_URL=https://ntfy.sh/
      - VIGILANT_NOTIFICATION_NTFY_TOPIC=testingtesting
    volumes:
      - "./feeds.yaml:/app/feeds.yaml"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
