version: '3'
services:
  vigilant:
    image: ghcr.io/verifiedjoseph/vigilant:1.6.1
    environment:
      - VIGILANT_TIMEZONE=Europe/London
      - VIGILANT_NOTIFICATION_SERVICE=ntfy
      - VIGILANT_NOTIFICATION_NTFY_URL=https://ntfy.sh/
      - VIGILANT_NOTIFICATION_NTFY_TOPIC=testingtesting
    volumes:
      - "./feeds.yaml:/app/feeds.yaml"
      - cache:/app/cache
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

volumes:
  cache:
