name: Code quality

on:
  pull_request:
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"
  push:
    branches: [main]
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"

jobs:
  phpstan:
    name: PHPStan
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.3

    - name: Setup PHP
      uses: shivammathur/setup-php@2.25.5
      with:
        php-version: '8.1'

    - name: "Validate composer.json and composer.lock"
      run: "composer validate --no-check-publish"

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run PHPStan
      run: ./vendor/bin/phpstan analyse

  phpcs:
    name: PHP_CodeSniffer
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.3

    - name: Setup PHP
      uses: shivammathur/setup-php@2.25.5
      with:
        php-version: '8.1'
        tools: cs2pr

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run phpcs
      run: ./vendor/bin/phpcs . --report=checkstyle | cs2pr

  php-cs-fixer:
    name: PHP CS Fixer
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.25.5
        with:
          php-version: '8.1'

      - name: Install dependencies with composer
        run: composer install --prefer-dist

      - name: Run php-cs-fixer
        run:  ./vendor/bin/php-cs-fixer fix --dry-run
