name: Tests
on:
  pull_request:
    paths:
      - "**.php"
      - ".github/workflows/test.yml"
  push:
    branches: [main]
    paths:
      - "**.php"
      - ".github/workflows/test.yml"

jobs:
  test:
    name: PHPUnit
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

    - name: Setup PHP
      uses: shivammathur/setup-php@c665c7a15b5295c2488ac8a87af9cb806cd72198 # v2.30.4
      with:
        php-version: '8.1'
        coverage: xdebug
        extensions: mbstring
    
    - name: Setup problem matchers for PHP
      run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

    - name: Setup problem matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: "Validate composer.json and composer.lock"
      run: "composer validate --no-check-publish"

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run phpunit
      run: ./vendor/bin/phpunit --coverage-clover=coverage.xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@125fc84a9a348dbcf27191600683ec096ec9021c # v4.4.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
