name: Test documentation
on:
  pull_request:
    paths:
      - "**.md"
      - "mkdocs.yml"

permissions:
  contents: read

jobs:
  test:
    name: MkDocs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.13'
          cache: 'pipenv'

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install

      - name: Build docs
        run: pipenv run mkdocs build --strict
