name: Test documentation
on:
  pull_request:
    paths:
      - "**.md"
      - "mkdocs.yml"

permissions:
  contents: read

jobs:
  test:
    name: MkDocs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.13'
          cache: 'pipenv'

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install

      - name: Build docs
        run: pipenv run mkdocs build --strict
